body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.O {
  background: url('black.png') no-repeat;
   background-size: 100%;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 1;
  text-align: center;
  width: 34px;
  border-color: #000000
}

.X {
  background: url('white.png') no-repeat;
  background-size: 100%;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 1;
  text-align: center;
  width: 34px;
  border-color: #000000

}

.E {
  background: url('green.png') no-repeat;
  background-size: 100%;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 1;
  text-align: center;
  width: 34px;
  border-color: #000000
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-info {
  margin-left: 20px;
}

.shoutBox{
  
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 25px;
  display: flex;
align-items: stretch;
flex-direction: column;

}
.message-list{
  align-items: flex-start;
}
.message-text-box{


}